.idea/misc.xml
.idea/modules.xml
.idea/python_workspace-main.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/
python_workspace/
*.pyc
lessons/__init__.py
lessons/__init__.py
build/
dist/
__pycache__
demo/test_chrome.spec
*.spec
