.idea/misc.xml
.idea/modules.xml
.idea/python_workspace-main.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/
python_workspace/
*.pyc
lessons/__init__.py
lessons/__init__.py
build/
dist/
__pycache__
demo/test_chrome.spec
*.spec
demo/chromedriver_win32 (1).zip
demo/save_some_string.py
demo/user_info.txt
demo/work_report.xlsx
work_report/chromedriver.exe
work_report/chromedriver.exe
work_report/chromedriver.exe
work_report/chromedriver.zip
work_report/LICENSE.chromedriver
work_report/user_info_wl.txt
work_report/work_report.xlsx
work_report/chromedriver.exe
work_report/error.log
crawl_lessons/@AutomationLog.txt
*.zip
alien_invasion/python_从入门到实践/*
work_report/*_log.txt
work_report/user_info.txt
get_string_file/results.txt
